:root {
  /* --col1 : rgb(244, 238, 224); */
  /* --col1 : #251B37; */
  --col1 : #3C2C3E;
  --col2 : rgb(57, 54, 70);
  --col3 : rgb(255, 217, 61);
  --col4 : inherit;
  --bar : linear-gradient(to top,rgb(14, 131, 136),rgb(244, 238, 224));
  --highlightbar : linear-gradient(to top,rgb(22, 255, 0),rgb(22, 255, 0));
  --swapbar : linear-gradient(to top,red,red);
  --pivbar : linear-gradient(to top,yellow,yellow);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
}

.background {
  width: 100%;
  height: 660px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(68, 68, 68);
  z-index: 1;
}

.inner-nav {
  display: flex;
  align-items: center;
}

.inner-nav > * {
  margin: 0 15px ;
}

.slidecontainer {
  justify-self: flex-start;
  display: flex;
  align-items: center;
}

.sliderlabel {
  color: white;
  padding: 11px ;
}

.sliderlabel:hover {
  background-color: var(--col3);
  color: black;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border-radius: 20px;
  height: 10px;
}

.slider:hover {
  opacity: 90%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 15px; 
  height: 15px; 
  background: var(--col3); 
  border-radius: 20px;
}

button {
  justify-self: end;
  color: black;
  background-color: var(--col3);
  padding: 4px 8px;
  border: 1px solid var(--col3);
  border-radius: 40px;
}

button:hover {
  opacity: 90%;
}

#div1 {
  background-color:  var(--col1);
  color: black;
  height: 700px;
}

#div2 {
  background-color:  var(--dark1);
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: relative;
  width: 70%;
  height: 60%;
  background-color: var(--col2);
  box-sizing: border-box;
  border: 4px solid var(--col2);
  border-bottom: 0px;
  border-radius: 5px;
}

.bar {
  background-image: var(--bar)
}

.desc-container {
  position: relative;
  width: 20%;
  height: 60%;
  display: flex;
  background-color: var(--col4);
  list-style-type: circle;
  list-style-position: inside;
  border: 10px solid var(--col4);
  border-radius: 15px;
}

.description {
  display: none;
  flex-direction: column;
}

.desc-container ul li {
  font-size: 35px;
}

.desc-container ul li .text{
  color: white;
  margin: 10px;
  font-size: 20px;
}


.compare {
  list-style-image: var(--highlightbar);
}

.swap {
  list-style-image: var(--swapbar);
}

.pivot {
  list-style-image: var(--pivbar);
}


#mergedesc {
  /* display: flex; */
  
  /* justify-content: start; */
}